/**
* WordPress Xidipity Theme
* Xidipity css print variables
*
* ###:  assets/css/sys/print-vars.css
* bld:  210705-1
* src:  github.com/WpThemeDev/xidipity/
* (C)   2018-2021 John Baer
*
*/

:root {
/*
*** set base font size for rem calculations
*/
font-size: 13px;
/*
*** base, primary, secondary hue / shade
*/
/*: no color :*/
--transparent: transparent;
/*: black & white :*/
--hue-blk: #000000;
--hue-wht: #ffffff;
/*: base hue :*/
--hue-bas-up5: #faf9f8;
--hue-bas-up4: #f4f3f2;
--hue-bas-up3: #e9e7e4;
--hue-bas-up2: #dfdbd7;
--hue-bas-up1: #d4cfc9;
--hue-bas: #c9c3bc;
--hue-bas-dn1: #a19c96;
--hue-bas-dn2: #797571;
--hue-bas-dn3: #504e4b;
--hue-bas-dn4: #282726;
--hue-bas-tint-up1: #fdfdfc;
--hue-bas-tint: #fbfafa;
--hue-bas-tint-dn1: #f8f8f7;
/*: primary hue :*/
--hue-pri-up5: #efefef;
--hue-pri-up4: #dedede;
--hue-pri-up3: #bebebe;
--hue-pri-up2: #9e9e9e;
--hue-pri-up1: #7d7d7d;
--hue-pri: #5d5d5d;
--hue-pri-dn1: #4a4a4a;
--hue-pri-dn2: #383838;
--hue-pri-dn3: #252525;
--hue-pri-dn4: #121212;
--hue-pri-tint-up1: #f9f9f9;
--hue-pri-tint: #f2f2f2;
--hue-pri-tint-dn1: #ebebeb;
/*: secondary hue :*/
--hue-sec-up5: #f1f1f1;
--hue-sec-up4: #e3e3e3;
--hue-sec-up3: #c7c7c7;
--hue-sec-up2: #aaaaaa;
--hue-sec-up1: #8f8f8f;
--hue-sec: #727272;
--hue-sec-dn1: #5c5c5c;
--hue-sec-dn2: #444444;
--hue-sec-dn3: #2e2e2e;
--hue-sec-dn4: #171717;
--hue-sec-tint-up1: #f9f9f9;
--hue-sec-tint: #f4f4f4;
--hue-sec-tint-dn1: #eeeeee;
/*
*** content attributes
*/
/*: font families :*/
--font-family-sans: Raleway, sans-serif;
--font-family-serif: "Roboto Slab", serif;
--font-family-mono: "Roboto Mono", monospace;
--font-family-cursive: "Sansita Swashed", cursive;
--font-family-fantasy: "Viaoda Libre", fantasy;
/*: font sizes :*/
--font-size-lg-7x: 5rem;
--font-size-lg-6x: 3.875rem;
--font-size-h1: 2.75rem;
--font-size-h2: 2.4375rem;
--font-size-h3: 2.125rem;
--font-size-h4: 1.8125rem;
--font-size-h5: 1.5rem;
--font-size-h6: 1.375rem;
--font-size-md-1x: 1.125rem;
--font-size-md: 1rem;
--font-size-sm: 0.875rem;
--font-size-sm-1x: 0.8125rem;
--font-size-sm-2x: 0.75rem;
--font-size-larger: 106.25%;
--font-size-smaller: 93.75%;
/*: font weight :*/
--font-wgt-thin: 100;
--font-wgt-xtralight: 200;
--font-wgt-light: 300;
--font-wgt-normal: 400;
--font-wgt-medium: 500;
--font-wgt-semibold: 600;
--font-wgt-bold: 700;
--font-wgt-xtrabold: 800;
--font-wgt-black: 900;
/*: font styles :*/
--font-style-italic: italic;
--font-style-normal: normal;
--font-style-oblique: oblique;
/*: headers :*/
--h1-color: var(--hue-bas-dn3);
--h1-font: var(--font-family-serif);
--h1-size: var(--font-size-h1);
--h1-style: var(--font-style-normal);
--h1-weight: var(--font-wgt-normal);
--h2-color: var(--hue-bas-dn3);
--h2-font: var(--font-family-serif);
--h2-size: var(--font-size-h2);
--h2-style: var(--font-style-normal);
--h2-weight: var(--font-wgt-normal);
--h3-color: var(--hue-bas-dn3);
--h3-font: var(--font-family-serif);
--h3-size: var(--font-size-h3);
--h3-style: var(--font-style-normal);
--h3-weight: var(--font-wgt-normal);
--h4-color: var(--hue-bas-dn3);
--h4-font: var(--font-family-serif);
--h4-size: var(--font-size-h4);
--h4-style: var(--font-style-normal);
--h4-weight: var(--font-wgt-normal);
--h5-color: var(--hue-bas-dn3);
--h5-font: var(--font-family-sans);
--h5-size: var(--font-size-h5);
--h5-style: var(--font-style-normal);
--h5-weight: var(--font-wgt-normal);
--h6-color: var(--hue-bas-dn3);
--h6-font: var(--font-family-sans);
--h6-size: var(--font-size-h6);
--h6-style: var(--font-style-normal);
--h6-weight: var(--font-wgt-normal);
/*
*** theme attributes
*/
/*: blog header :*/
--blog-hdr-bg-color: var(--hue-bas-up5);
/*: blog title & tagline :*/
--title-font-color: var(--hue-pri-dn2);
--title-font-family: var(--font-family-fantasy);
--title-font-size: 3rem;
--title-font-spacing: 0.0625rem;
--title-font-style: normal;
--title-font-weight: var(--font-wgt-normal);
--desc-font-color: var(--hue-bas-dn2);
--desc-font-family: var(--font-family-sans);
--desc-font-size: 1rem;
--desc-font-spacing: 0.5rem;
--desc-font-style: normal;
--desc-font-weight: var(--font-wgt-normal);
/*: blog footer :*/
--blog-ft-bg-color: var(--hue-bas-up5);
/*: sys content :*/
--content-bg-color: var(--hue-wht);
--content-fg-color: var(--hue-blk);
--content-tp-border-color: var(--hue-bas-up2);
--content-bt-border-color: var(--hue-bas-up2);
--content-counter-color: var(--hue-bas-dn2);
/*: system :*/
--dft-fg-color: var(--hue-blk);
--dft-bg-color: var(--hue-wht);
--dft-line-height: 1.5;
--dft-code-color: var(--hue-bas-dn4);
--dft-font-family: var(--font-family-sans);
--dft-font-color: var(--hue-blk);
--dft-font-size: 1rem;
--dft-font-weight: var(--font-wgt-normal);
--dft-font-spacing: normal;
/*: link attributes :*/
--lnk-dft-fg-hue: var(--hue-pri-dn1);
--lnk-dft-bg-hue: var(--transparent);
--lnk-vst-fg-hue: var(--hue-pri-up2);
--lnk-vst-bg-hue: var(--transparent);
--lnk-hvr-fg-hue: var(--hue-sec);
--lnk-hvr-bg-hue: var(--transparent);
--lnk-dft-wgt: var(--font-wgt-normal);
--lnk-vst-wgt: var(--font-wgt-normal);
--lnk-hvr-wgt: var(--font-wgt-normal);
--lnk-dft-decor: none;
--lnk-vst-decor: none;
--lnk-hvr-decor: none;
/*
*** plugin attributes
*/
/*: yoast :*/
--pag-breadcrumb-dsp: none;
--pst-breadcrumb-dsp: none;
}

/*
* EOF: assets/css/sys/print-vars.css / 210705-1
*/
