/**
	* WordPress Xidipity Theme
	* Xidipity css variables
	*
	* ###:	assets/css/sys/theme-vars.css
	* bld:	210705-1
	* src:	github.com/WpThemeDev/xidipity/
	* (C) 	2018-2021 John Baer
	*
	* ref:  noeldelgado.github.io/shadowlord/
	*	base: #c9c3bc	(Greyish orange)
	*	pri:  #007fa3	(Dark cyan)
	*	sec:  #f04318	(Vivid red) (adobe split complementary)
	*
*/

:root {
/*
*** set base font size for rem calculations
*/
font-size: 16px;
/*
*** base, primary, secondary hue / shade
*/
/*: no color :*/
--transparent: transparent;
/*: black & white :*/
--hue-blk: #000000;
--hue-wht: #ffffff;
/*: base hue :*/
--hue-bas-up5: #faf9f8;
--hue-bas-up4: #f4f3f2;
--hue-bas-up3: #e9e7e4;
--hue-bas-up2: #dfdbd7;
--hue-bas-up1: #d4cfc9;
--hue-bas: #c9c3bc;
--hue-bas-dn1: #a19c96;
--hue-bas-dn2: #797571;
--hue-bas-dn3: #504e4b;
--hue-bas-dn4: #282726;
--hue-bas-tint-up1: #fdfdfc;
--hue-bas-tint: #fbfafa;
--hue-bas-tint-dn1: #f8f8f7;
/*: primary hue :*/
--hue-pri-up5: #e6f2f6;
--hue-pri-up4: #cce5ed;
--hue-pri-up3: #99ccda;
--hue-pri-up2: #66b2c8;
--hue-pri-up1: #3399b5;
--hue-pri: #007fa3;
--hue-pri-dn1: #006682;
--hue-pri-dn2: #004c62;
--hue-pri-dn3: #003341;
--hue-pri-dn4: #001921;
--hue-pri-tint-up1: #f5fafb;
--hue-pri-tint: #ebf5f8;
--hue-pri-tint-dn1: #e0eff4;
/*: secondary hue :*/
--hue-sec-up5: #feece8;
--hue-sec-up4: #fcd9d1;
--hue-sec-up3: #f9b4a3;
--hue-sec-up2: #f68e74;
--hue-sec-up1: #f36946;
--hue-sec: #f04318;
--hue-sec-dn1: #c03613;
--hue-sec-dn2: #90280e;
--hue-sec-dn3: #601b0a;
--hue-sec-dn4: #300d05;
--hue-sec-tint-up1: #fef7f6;
--hue-sec-tint: #fef0ed;
--hue-sec-tint-dn1: #fde8e3;
/*
*** content attributes
*/
/*: font families :*/
--font-family-sans: Raleway, sans-serif;
--font-family-serif: "Roboto Slab", serif;
--font-family-mono: "Roboto Mono", monospace;
--font-family-cursive: "Sansita Swashed", cursive;
--font-family-fantasy: "Viaoda Libre", fantasy;
/*: font sizes :*/
--font-size-lg-7x: 5rem;
--font-size-lg-6x: 3.875rem;
--font-size-h1: 2.75rem;
--font-size-h2: 2.4375rem;
--font-size-h3: 2.125rem;
--font-size-h4: 1.8125rem;
--font-size-h5: 1.5rem;
--font-size-h6: 1.375rem;
--font-size-md-1x: 1.125rem;
--font-size-md: 1rem;
--font-size-sm: 0.875rem;
--font-size-sm-1x: 0.8125rem;
--font-size-sm-2x: 0.75rem;
--font-size-larger: 106.25%;
--font-size-smaller: 93.75%;
/*: font weight :*/
--font-wgt-thin: 100;
--font-wgt-xtralight: 200;
--font-wgt-light: 300;
--font-wgt-normal: 400;
--font-wgt-medium: 500;
--font-wgt-semibold: 600;
--font-wgt-bold: 700;
--font-wgt-xtrabold: 800;
--font-wgt-black: 900;
/*: font styles :*/
--font-style-italic: italic;
--font-style-normal: normal;
--font-style-oblique: oblique;
/*: headers :*/
--h1-color: var(--hue-bas-dn3);
--h1-font: var(--font-family-serif);
--h1-size: var(--font-size-h1);
--h1-style: var(--font-style-normal);
--h1-weight: var(--font-wgt-normal);
--h2-color: var(--hue-bas-dn3);
--h2-font: var(--font-family-serif);
--h2-size: var(--font-size-h2);
--h2-style: var(--font-style-normal);
--h2-weight: var(--font-wgt-normal);
--h3-color: var(--hue-bas-dn3);
--h3-font: var(--font-family-serif);
--h3-size: var(--font-size-h3);
--h3-style: var(--font-style-normal);
--h3-weight: var(--font-wgt-normal);
--h4-color: var(--hue-bas-dn3);
--h4-font: var(--font-family-serif);
--h4-size: var(--font-size-h4);
--h4-style: var(--font-style-normal);
--h4-weight: var(--font-wgt-normal);
--h5-color: var(--hue-bas-dn3);
--h5-font: var(--font-family-sans);
--h5-size: var(--font-size-h5);
--h5-style: var(--font-style-normal);
--h5-weight: var(--font-wgt-normal);
--h6-color: var(--hue-bas-dn3);
--h6-font: var(--font-family-sans);
--h6-size: var(--font-size-h6);
--h6-style: var(--font-style-normal);
--h6-weight: var(--font-wgt-normal);
/*
*** theme attributes
*/
/*: blog header :*/
--blog-hdr-bg-color: var(--hue-bas-up5);
/*: blog title & tagline :*/
--title-font-family: var(--font-family-fantasy);
--title-font-color: var(--hue-pri-dn2);
--title-font-size: 3rem;
--title-font-spacing: 0.0625rem;
--title-font-style: normal;
--desc-font-color: var(--hue-bas-dn2);
--title-font-weight: var(--font-wgt-normal);
--desc-font-family: var(--font-family-sans);
--desc-font-size: 1rem;
--desc-font-spacing: 0.5rem;
--desc-font-style: normal;
--desc-font-weight: var(--font-wgt-normal);
/*: blog footer :*/
--blog-ft-bg-color: var(--hue-bas-up5);
/*: sys menu :*/
--mnu-bar-sm-bg: var(--transparent);
--mnu-bar-sm-fg: var(--hue-blk);
--mnu-bar-lg-bg: var(--blog-hdr-bg-color);
--mnu-bar-lg-fg: var(--hue-bas-dn4);
/*: sys content :*/
--content-bg-color: var(--hue-wht);
--content-fg-color: var(--hue-blk);
--content-tp-border-color: var(--hue-bas-up2);
--content-bt-border-color: var(--hue-bas-up2);
--content-counter-color: var(--hue-bas-dn2);
/*: system :*/
--dft-fg-color: var(--hue-blk);
--dft-bg-color: var(--hue-bas-up5);
--dft-code-color: var(--hue-pri-dn2);
--dft-line-height: 1.5;
--dft-font-family: var(--font-family-sans);
--dft-font-color: var(--hue-blk);
--dft-font-size: 1rem;
--dft-font-weight: var(--font-wgt-light);
--dft-font-spacing: normal;
/*: link attributes :*/
--lnk-dft-fg-hue: var(--hue-pri-dn1);
--lnk-dft-bg-hue: var(--transparent);
--lnk-vst-fg-hue: var(--hue-pri-dn2);
--lnk-vst-bg-hue: var(--transparent);
--lnk-hvr-fg-hue: var(--hue-sec-dn1);
--lnk-hvr-bg-hue: var(--transparent);
--lnk-dft-wgt: var(--font-wgt-normal);
--lnk-vst-wgt: var(--font-wgt-normal);
--lnk-hvr-wgt: var(--font-wgt-normal);
--lnk-dft-decor: none;
--lnk-vst-decor: none;
--lnk-hvr-decor: none;
/*
*** plugin attributes
*/
/*: yoast :*/
--pag-breadcrumb-dsp: block;
--pst-breadcrumb-dsp: none;
}

/*
* EOF: assets/css/sys/theme-vars.css / 210705-1
*/
